{% extends "base.html" %}
{% block title %}
    <title>แบบฟร์อมแก้ไขข้อมูลประชากร</title>
{% endblock  %}
{% block content  %}
    <h1 class="text-center">แบบฟร์อมแก้ไขข้อมูลประชากร</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="name">ชื่อประชากร</label>
            <input type="text" name="name" class="form-control" value="{{person.name}}">
        </div>
        <div class="form-group mb-3">
            <label for="age">อายุ</label>
            <input type="text" name="age" class="form-control" value="{{person.age}}">
        </div>
        <input type="submit" value="อัพเดตข้อมูล" class="btn btn-success">
    </form>
</p>
{% endblock  %}