<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าแรกของเว็ปไซด์</title>
</head>
<body>
    <h1>สวัสดี , {{name}}</h1>
    <h2>ปีนี้คุณมีอายุ {{age}}</h2>
    <hr>
    <a href="/">หน้าแรกของเว็ปไซด์</a>
    <a href="/form">แบบฟร์อม</a>
    <a href="/about">เกี่ยวกับเรา</a>
</body>
</html>

{% comment %} 
Django Template Language

{{variable}} คือการแทรกตัวแปรลงไปในส่วนที่ต้องการ ในหน้าเว็ปเพจ
{% tag %} คือการแทรก tag หรือโครงสร้างควบคุมไปในหน้าเว็บ
{{ variable | fitller }} คือการแทรกตัวกรองข้อมูลในตัวแปร

{% endcomment %}