<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าแรกของเว็ปไซด์</title>
</head>
<body>
    <h1>Channarong</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut nesciunt nisi aperiam et, reprehenderit tenetur rerum sint repellendus ipsam!
    </p>
        <hr>
    <a href="/">หน้าแรกของเว็ปไซด์</a>
    <a href="/form">แบบฟร์อม</a>
    <a href="/about">เกี่ยวกับเรา</a>
</body>
</html>