{% extends "base.html" %}
{% block title %}
    <title>หน้าแรกของเว็ปไซด์</title>
{% endblock  %}
{% block content %}
{% comment %}  | เป็นการใส่ filter ลงใน HTML{% endcomment %}
<h1>สวัสดี , {{fname | upper}}</h1>
<h2>ปีนี้คุณมีอายุ {{age}}</h2>
{% comment %} tag เป็นการเขียน code ในภาษาของ python โดย ตรง {% endcomment %}
{% if age >= 30 %} 
    <h3>คุณเป็นวัยผู้ใหญ่</h3>
    {% else %}
    <h3>คุณเป็นรุ่น</h3>
{% endif %}
{% endblock  %}

{% comment %} 
Django Template Language

{{variable}} คือการแทรกตัวแปรลงไปในส่วนที่ต้องการ ในหน้าเว็ปเพจ
{% tag %} คือการแทรก tag หรือโครงสร้างควบคุมไปในหน้าเว็บ
{{ variable | fitller }} คือการแทรกตัวกรองข้อมูลในตัวแปร

{% endcomment %}